.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.header {
  background-color: var(--white);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;
  z-index: 100;
  box-shadow: 0 0px 3px gray;
}

.logo {
  margin: 0;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 700;
  letter-spacing: -0.02em;
  background: var(--primary-gradient);
  -webkit-background-clip: text;             //New thing we learned:Only show the background where the text exists
}

.logo-dot {
  color: var(--text-blue);
  -webkit-text-fill-color: var(--text-blue);
}

.user-profile {
  display: flex;
  align-items: center;
  gap: clamp(0.4rem, 1vw, 0.75rem);
  cursor: pointer;
}

.avatar {
  width: clamp(36px, 3vw, 42px);
  height: clamp(36px, 3vw, 42px);
  border-radius: 80%;
  background-color: var(--primary-red);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: clamp(0.7rem, 1vw, 0.875rem);
}

.user-greeting {
  font-size: clamp(0.775rem, 1vw, 0.875rem);
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: var(--text-dark);
}

.user-name {
  font-size: clamp(0.75rem, 1vw, 0.875rem);
  color: var(--text-dark);
  font-weight: 500;
}

.dropdown-icon {
  margin-left: 0.25rem;
  color: var(--text-gray);
  font-size: 14px; 
}

.main-wrapper {
  display: flex;
  overflow: hidden;
}

.sidebar {
  width: clamp(56px, 18vw, 240px);
  background-color: var(--white);
  border-right: 1px solid var(--border-gray);
  padding: 1rem 0;
}

.nav-item {
  display: flex;
  gap: 0.75rem;
  padding: clamp(0.6rem, 1vw, 0.75rem) clamp(0.75rem, 2vw, 1.5rem);   //Top & Bottom   and   left & right
  color: var(--text-dark);
  text-decoration: none;
  transition: background-color 0.2s;
  cursor: pointer;
  
  &:hover {
    background-color: var(--light-gray);
  }
  
  &.active {
    background-color: var(--primary-red);
    color: white;  //text

    .nav-icon {
      color: white;
    }
  }
}

.nav-icon {
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  width: 1.25rem;
  color: var(--text-gray);
}

.nav-label {
  font-size: clamp(0.75rem, 1vw, 0.875rem);
  font-weight: 500;
}

.main-content {
  flex: 1;
  background-color: var(--white);
  overflow-y: auto;
  padding: 2rem;
}

@media (max-width: 600px) {

  .nav-label {
    display: none;
  }
                                   //Only show side bar icons when lesser than 600px
  .nav-item {
    justify-content: center;
  }
}