<div class="statistics-container">
  <div class="statistics-header">
    <h2 class="statistics-title">Statistics by Site</h2>
    <div class="date-filters">
      <input 
        type="date" 
        class="date-input" 
        placeholder="Start Date"
        [(ngModel)]="startDate">   <!--ngModel connects our UI input box with our typeScript variable automatically.-->
      <input 
        type="date" 
        class="date-input" 
        placeholder="End Date"
        [(ngModel)]="endDate">
    </div>
  </div>

  <div class="table-container">
    <table class="statistics-table">
      <thead>
        <tr>
          <th>WEBSITE / APP</th>
          <th>REVENUE</th>
          <th>ECMP</th>
          <th>IMPRESSIONS</th>
        </tr>
      </thead>
      <tbody>
        @for (stat of statistics; track stat.website) {
          <tr>
            <td>{{ stat.website }}</td>         <!--interpolation-->
            <td>{{ stat.revenue }}</td>
            <td>{{ stat.ecpm }}</td>
            <td>{{ stat.impressions }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
